* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
p {
  font-size: 22.5px;
  font-family: Roboto, sans-serif;
  line-height: 35px;
}

h2 {
  font-size: 35px;
  line-height: 50px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
}

h3 {
  line-height: 60px;
  color: blue;
}
/* Navbar */
#navbar {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 25px 30px;
}


/* menu model */

.modal {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width:100%;
  height:100%;
  background-color: #2c4bff;
}

/* Modal Content */
.modal-content {

  height:100%;
  margin: auto;
  padding:50px;
  text-align: center;
}
.modal-content h2{
  border-bottom:0 !important;
  font-size: 25px;
  margin: 10px;
  color: white;
  font-size: 800;

}
.modal-content h2:hover{
  cursor: pointer;
}
.modal-content img{
  
  display: block;

}
.modal-content button{
  color: white;
  background-color: #e97284;

}
.modal-content button:hover{
  background-color: #ee3b55;

}

/* The Close Button */
.close {
  color:white;
  float: right;
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  right: 10%;
}

.close:hover,
.close:focus {
  color: rgb(252, 21, 21);
  text-decoration: none;
  cursor: pointer;
}
#myBtn{
  width: 40px !important;
}
#myBtn:hover{
cursor: pointer;
transform: scale(1.1);
}


/* /////////////////// */

#logo:hover {
  cursor: pointer;
  border-bottom: 3px solid blue;
}
.stickyNav {
  position: sticky;
  top: 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
#navbar p:hover {
  border-bottom: 3px solid #2c4bff;
  cursor: pointer;
  border-radius: 2px;
  color: #2c4bff;
}

#navbar > div:nth-child(1) {
  /* width: 16%; */
  padding: 5px;
  display: flex;
}

#navbar > div > img {
  width: 110px;
}
#navbar > div > img + img {
  width: 25px;
  margin: 10px 0 10px 10px;
}

#navbar > div:nth-child(2) {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
#navbar > div:nth-child(3) {
  /* width: 25%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  color: blue;
  margin-right: 12px;
  cursor: pointer;
}

button {
  font-size: 18px;
  width: 200px;
  font-weight: 400;
  border-radius: 5px;
  background-color: rgb(44, 75, 255);
  color: rgb(255, 255, 255);
  padding: 17px;
  border: 0px;
  margin: 10px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(41, 58, 154);
}

/* main page */

body {
  overflow-x: hidden;
}

/* top section */

#top {
  width: 85%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

#top > div > img {
  width: 100%;
}
#top h1 {
  width: 91%;
  line-height: 60px;
  font-size: 46px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin: 100px 0 40px;
}

#top p {
  width: 88%;
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 50px;
}
.signup + button {
  border: 1px solid blue;
  background-color: white;
  color: blue;
}

button > img {
  width: 15px;
}

#top + div {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#top + div > div > img {
  width: 90%;
}

/* below top1 */

#belowTop1 {
  width: 40%;
  margin: 100px auto 40px;
  text-align: center;
}

#belowTop1 > h2 {
  margin: 40px auto;
}

/* belowTop2 */

.belowTop2 {
  width: 65%;
  margin: 140px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.belowTop2 img {
  width: 100%;
  height: 90%;
}
.belowTop2 p {
  margin: 40px 0;
}

#aboveMiddle {
  width: 45%;
  margin: auto;
  text-align: center;
}

/* Middle section */

@keyframes animate {
  from {
    -webkit-transform: translate3d(20%, 0, 0);
    -ms-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-20%, 0, 0);
    -ms-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
}
#middle {
  display: grid;
  grid-template-columns: repeat(5, 25%);
  grid-template-rows: 450px;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  margin: 30px auto;
  animation: 15s linear 0s infinite normal none running animate;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
#middle > div {
  width:370px !important;
  height:260px !important;
  text-align: center;
  padding-bottom: 80px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 30px -1px;
  border-radius: 10px;
}
#middle > div > img:first-child {
  border-radius: 50%;
  margin-top: -70px;
}
#middle > div > p {
  width: 75%;
  font-size: 16px;
  margin: 25px auto 20px;
  line-height: 20px;
}

#middle + div {
  width: 85%;
  margin: auto;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#middle + div > div {
  display: grid;
  align-items: center;
  text-align: center;
}
#middle + div > div > h1 {
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  color: #2c4bff;
  margin-bottom: -58px;
}

#belowMiddle {
  width: 85%;
}
#belowMiddle button {
  border: 1px solid blue;
  background-color: white;
  color: blue;
}

#aboveBottom1 {
  text-align: center;
  margin-bottom: 100px;
}
#aboveBottom1 > h4 {
  font-size: 18px;
}
#aboveBottom1 > img {
  width: 35%;
}

/* footer */
#aboveBottom2 {
  height: 575px;
  background-image: url("https://i.ibb.co/7SdfTzT/image.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aboveBottom2 > div {
  width: 40%;
  text-align: center;
}

#aboveBottom2 > div > h2 {
  color: white;
  margin-bottom: 20px;
}
#aboveBottom2 > div > button {
  text-align: center;
  color: white;
  background-color: #e97284;
  padding: 25px 30px;
}
#aboveBottom2 > div > button:hover {
  background-color: #e7213e;
}

/* footer */

#bottom {
  width: 80%;
  height: 400px;
  margin: 200px auto 0;
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}
#bottom > div:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#bottom > div > img {
  width: 100%;
}
#bottom h3 {
  color: black;
  font-size: 20px;
}
#bottom p {
  font-size: 18px;
}
#bottom p:hover {
  cursor: pointer;
  color: #2c4bff;
}

/* about page */

/* h2 {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
} */
#abt {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: rgb(238, 157, 171);
  text-align: center;
}

#para {
  width: 49%;
  margin: 80px auto;
}

#para > p {
  margin-bottom: 20px;
}

#para + button {
  display: block;
  margin: auto;
  padding: 15px 21px;
}
#user {
  margin: 170px auto;
  background-image: url("https://i.ibb.co/DR3y6wh/image.png");
  background-size: contain;
  display: grid;
  grid-template-columns: repeat(3, 22%);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 61px 100px;
}
#user > div:nth-child(1) > h2 {
  font-size: 72px;
  color: rgb(135, 194, 33);
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;
}
#user > div:nth-child(2) > h2 {
  font-size: 72px;
  color: rgb(250, 211, 42);
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;
}
#user > div:nth-child(3) > h2 {
  font-size: 72px;
  color: rgb(233, 114, 132);
  font-family: Poppins, sans-serif;
  margin-bottom: 10px;
}
#user p {
  font-size: 25px;
}

#user + div {
  width: 55%;
  margin: auto;
  text-align: center;
  margin-bottom: 150px;
}
#user + div > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#user + div img {
  width: 100%;
}

#AfterLogo {
  width: 47%;
  margin: auto;
}

#group {
  height: 520px;
  width: 100%;
  background-image: url("https://buffer.com/static/team/team-panorama.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 120px;
}
#group + div {
  padding-top: 200px;
  margin-bottom: 180px;
  background-color: whitesmoke;
}
#group + div > div:nth-child(1) {
  width: 50%;
  margin: auto;
  margin-bottom: 60px;
}
#group + div img {
  width: 100%;
}

#team {
  width: 48%;
  margin: auto;
}
#team img {
  margin: 40px auto;
}
#team + button {
  margin: 40px auto 180px;
  text-align: center;
  display: block;
  color: blue;
  background-color: white;
  border: 1px solid blue;
  width: 230px;
}

/* media screen */

@media all and (min-width: 360px) and (max-width: 980px) {
  #navbar > div:nth-child(2) {
    position: absolute;
    visibility: hidden;
  }

  #top {
    grid-template-columns: repeat(1, 1fr);
  }

  #top + div {
    grid-template-columns: repeat(1, 1fr);
  }

  .belowTop2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .belowTop2 > div > button {
    margin: 10px;
  }

  #reverse > div:nth-child(1) {
    order: 1;
  }
  #reverse > div:nth-child(2) {
    order: 0;
  }

  #middle + div {
    grid-template-columns: repeat(2, 1fr);
  }
  #middle + div > div > h1 {
    margin-bottom: 0;
  }

  #bottom {
    width: 80%;
    grid-template-columns: 80%;
    justify-content: center;
    gap: 0;
  }
  #bottom > div:last-child {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  /* about page */

  #user {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  #user + div > div {
    grid-template-columns: repeat(1, 1fr);
  }
  #team {
    width: 100%;
    text-align: center;
  }

  p {
    font-size: 16px !important;
  }

  #AfterLogo {
    text-align: center;
  }
}
